.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap-md);
}

.grid__item {
  display: flex;
  grid-column: var(--span-12);
  padding: var(--p-sm);

  @media screen and (min-width: 768px) {
    grid-column: var(--span-6);
  }
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
}

.inline {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
  gap: var(--gap-md);
}

.container {
  margin: 0 auto;
  width: fit-content;
  @media screen and (min-width: 768px) {
    max-width: 1400px;
  }
}

.card {
  border: 1px solid var(--gray);
  padding: var(--p-lg);
  border-radius: var(--rounded-sm);
}
