/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: var(--line-height-md);
  padding: var(--p-sm);
  color: var(--dark-purple);
}

h3,
h4 {
  font-weight: var(--font-bold);
  text-transform: capitalize;
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}
