.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap-md);
}

.grid .category-list__wrapper {
  grid-template-columns: repeat(3, 1fr);
  overflow-y: scroll;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1268px) {
    grid-template-columns: auto;
    grid-auto-flow: column;
  }
}

.category-list__wrapper > .grid__item {
  grid-column: var(--span-1);
}

.grid__item {
  display: flex;
  justify-content: flex-start;
  grid-column: var(--span-12);

  @media screen and (min-width: 768px) {
    padding: 0 var(--p-md);
  }
}

.container {
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 1400px;
  }
}

.hero {
  position: relative;
  width: 100%;
  padding: var(--p-xxl);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  position: relative;
  padding: var(--p-lg);
}

.hero__section {
  @media screen and (min-width: 768px) {
    padding: 0 var(--p-xl);
  }
}
